<div class="container col-md-7 mt-3">
    <div class="card">
        <div class="card-header">
            <h2 class="text-center">Agregar nueva Persona</h2>
        </div>
        <div class="card-body">
            <div class="container">
                <form>
                    <div class="form-group">
                        <label for="txtnombres">Email address</label>
                        <input type="text" class="form-control" id="txtnombres" placeholder="Ingrese Nombre">
                    </div>
                    <div class="form-group">
                        <label for="txtdni">Password</label>
                        <input type="text" class="form-control" id="txtdni" placeholder="Ingrese DNI">
                    </div>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </form>
            </div>
        </div>
    </div>
</div>